# H1: Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__ 
- List popular language for data scientist
- List commonly used libraries by data scientist
- List data science tools

Some of the popular languages that Data Scientist use are:

1. Python 
2. SQL
3. R Studio

Some of the commonly used libraries used by Data Scientists include:
    
1. Pandas
2. TensorFlow
3. NumPy

## 
| Data Science Tools  |
|---------------------|
| Apache Spark        |
| NumPy               |
| Python              |

### Below are a few examples of evaluating arithmetic expressions in Python

In [8]:
# This a simple arithmetic expression to mutiply then add integers. 
(3*4)+5

17

In [9]:
# This will convert 200 minutes to hours by diving by 60
200 / 60

3.3333333333333335

## Author
Kelsey Heddin